/*
#0a1d11 - darkest : rgb(10,29,17)
#133a23 - darker
#1d5835 - normal
#277647 - lighter
#309359 - lightest
*/

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
    background: url(/img/pool_table.png) #1d5835 repeat;
    color: white;
    font-family: sans-serif;
}

button {
    padding: 1em;
}
h1, p {
    margin: 0;
}

/* buttons */
.button, input[type="submit"] {
    background-color: #1d5835;
    border: #277647 solid 2px;
    color: white;
    display: inline-block;
    font-size: 1em;
    min-width: 2.5em;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.button:hover, input[type="submit"]:hover {
    border-color: #309359;
}

/* pages */
body.page {
    text-align: center;
}
body.page .row1 {
    margin-top: 30px;
}
body.page .row1, body.page .row2, body.page .row3 {
    margin-bottom: 30px;
}

/* home page */
body.home .row2 div {
    margin: 5px;
}
body.home .row2 ul {
    /* separate player list from "create a game" button */
    margin-bottom: 30px;
}
body.home a.howto {
    color: white;
}
body.home .button {
    min-width: 100px;
}
body.home p.small {
    font-size: .65em;
    margin: 0;
    color: #DDD;
}
body.home p.small:first-of-type {
    margin-top: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

/* game page */

html, body, #content, .game {
    /* make page full screen */
    height: 100%;
    margin: 0;
    padding: 0;
}
.game {
    /* stop horizontal sprawl */
    max-width: 600px;
    margin: 0 auto;

    /* make it a vertical flexbox */
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.game>* {
    width: 100%;
}
.bottom-ui {
    align-self: flex-start;
    -webkit-align-self: flex-start;
}
.tablecards {
    justify-content: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.tablecards div {
    position: relative;
}
.tablecards .card-img {
    display: block;
    height: 111px;
    width: 80px;
}
.tablecards .card-img.empty {
    border: solid 1px white;
    border-radius: 4px;
}

.tablecards .player-wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.tablecards .player {
    color: white;
    text-align: center;
    text-shadow: black 1px 1px 1px;
}
.hand {
    height: 139px;
    line-height: 0;
    opacity: .82;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
}
.hand .card {
    display: inline-block;
}
.hand .card:not(:last-child) {
    width: 53px;
}
.hand .card .card-img {
    height: 139px;
    width: 100px;
}
.hand.onus {
    opacity: 1;
}

.points div {
    margin: .5em 0;
}
.points li {
    display: inline;
    margin-right: .5em;
}

.points a[href="/"] {
    margin-left: .5em;
}

.points, .start-view {
    background-color: rgba(10, 29, 17, 0.6);
    padding: 1em 0;
    text-align: center;
}

.start-view {
    align-items: center;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.start-view .starter p, .start-view .show-ai p {
    margin-bottom: .5em;
}

.bids {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: 1em;
}
.bids .button {
    border-width: 3px;
    font-size: 1.3em;
    padding: .4em .25em;
}
.bids .button:not(:last-child) {
    margin-right: .5em;
}

.history.button {
    cursor: pointer;
    min-width: 2em;
    font-weight: bold;
    padding: 2px;
    height: 20px;
    margin-right: 1em;
}

.player-list {
    margin: .5em;
}

@media (max-height: 350px) {
    /* less vertial padding */
    .points, .start-view {
        padding: .5em 0;
    }
    /* smaller cards */
    .hand .card .card-img {
        height: 104px;
        width: 75px;
    }
    .hand {
        height: 104px;
    }
    .tablecards .card .card-img{
        height: 100px;
        width: 72px;
    }
    .tablecards .player {
        line-height: 100px;
    }
}
