body {
    background-color: green;
    color: #CCC;
    font-family: sans-serif;
}

a {
    color: #999;
    margin-right: 20px;
}

button {
    padding: 1em;
}

ul {
    margin: 0;
    padding: 0;
}
.card {
    background-position: -260px -370px;
    display: inline-block;
    height: 314px;
    width: 100px;
}
.card:last-child {
    width: 226px;
}

.hand {
    bottom: -260px;
    position: fixed;
    margin-left: 50%;
}
.hand ul {
    margin-left: -50%;
}

.hand.onus {
    bottom: -115px;
}

.points {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 1em;
    padding: 1em;
}
.points div {
    margin: 1em 0;
}
.points li {
    display: inline;
    margin-right: .5em;
}
